.headerContent {
  height: 80px;
  background-color: var(--black-800);
}

.navContent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  svg {
    margin-right: 5px;
  }

  
  
}
