* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --gray-500: #fafafa;
  --gray-600: #e0e0e0;
  --gray-700: #bdbdbd;
  --gray-800: #9e9e9e;
  --gray-900: #757575;
  --red-500: #f44336;
  --red-600: #e53935;
  --yellow-500: #ffeb3b;
  --black-500: #212121;
  --black-600: #424242;
  --black-700: #121214;
  --black-800: #202024;
  --cyan-500: #00bcd4;
  --cyan-600: #00acc1;
}

body {
  background: var(--black-700);
  color: var(--white);
}

body, input, textarea, select, button {
  font: 400 1rem 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
